<div class="container">
  <h3>{{Titulo}} <small>{{TituloAccionABMC[AccionABMC]}}</small></h3>

  <div *ngIf="AccionABMC == 'C'">
    <!-- Botones -->
		<div class="row justify-content-center">
			<button type="button" class="btn btn-primary" (click)="GetEmpresa()">
            <span class="fas fa-search"> </span> Consultar
        </button>
			&nbsp;
			<button type="button" class="btn btn-primary" (click)="Agregar()">
            <span class="fas fa-plus"> </span> 
            Agregar
        </button>
		</div>
  </div>


  <div id="divTablaResultados" *ngIf="AccionABMC == 'L'">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
              <th class="text-center">IdEmpresa</th>
              <th class="text-center">RazonSocial</th>
              <th class="text-center">Empleados</th>
              <th class="text-center">Fecha de Fundacion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Lista">
              <td>{{item.IdEmpresa}}</td>
              <td>{{item.RazonSocial}}</td>
              <td>{{item.CantidadEmpleados}}</td>
              <td>{{item.FechaFundacion}}</td>
          </tr>
        </tbody>
      </table>
      <div class="row justify-content-center">
			<button type="button" class="btn btn-primary" (click)="Agregar()">
            <span class="fas fa-plus"> </span> 
            Agregar
        </button>
		</div>
  </div>


 <form name="FormReg" [formGroup]='FormReg' *ngIf="AccionABMC != 'L'" class="bg-light">
		<fieldset [disabled]="AccionABMC==='C'">
			<!--campo Razon Social-->
		<div class="form-group row">
			<label class="col-form-label col-sm-2 col-sm-offset-2" for="RazonSocial">Razon Social<span
                    class="text-danger">*</span></label>
			<div class="col-sm-6">
				<input type="text" class="form-control" formControlName="RazonSocial" 
         [ngClass]="{'is-invalid': (FormReg.controls.Nombre.touched || submitted)  
            && FormReg.controls.Nombre.errors}" />

				<span class="text-danger" *ngIf="(FormReg.controls.Nombre.touched || submitted) 
                        && FormReg.controls.Nombre.errors?.required">
                    Dato requerido.
                </span>
                <span class="text-danger" *ngIf="(FormReg.controls.Nombre.touched || submitted) 
                       && (FormReg.controls.Nombre.errors?.minlength || FormReg.controls.Nombre.errors?.maxlength) ">
                    Dato texto, 1 a 50 caracteres.
                </span>
			</div>
		</div>

    <!--campo FechaFundacion-->
		<div class="form-group row">
			<label class="col-form-label col-sm-2 col-sm-offset-2" for="FechaFundacion">Fecha de Fundacion<span
                    class="text-danger">*</span></label>
			<div class="col-sm-6">
				
        
        <input type="text" class="form-control" formControlName="FechaFundacion" 
         [ngClass]="{'is-invalid': (FormReg.controls.FechaNacimiento.touched || submitted)  
            && FormReg.controls.FechaNacimiento.errors}" />
        
				<span class="text-danger" *ngIf="(FormReg.controls.FechaNacimiento.touched || submitted) 
                        && FormReg.controls.FechaNacimiento.errors?.required">
                    Dato requerido.
                </span>
        
        <span class="text-danger" *ngIf="FormReg.controls.FechaNacimiento.errors?.pattern">
                    Dato fecha, formato dd/mm/aaaa.
        </span>
        
			</div>
		</div>

    <!--campo CantidadEmpleados-->
		<div class="form-group row">
			<label class="col-form-label col-sm-2 col-sm-offset-2" for="CantidadEmpleados">Cantidad de Empleados<span
                    class="text-danger">*</span></label>
			<div class="col-sm-6">
				<input type="text" class="form-control" formControlName="CantidadEmpleados" 
         [ngClass]="{'is-invalid': (FormReg.controls.Telefono.touched || submitted)  
            && FormReg.controls.Telefono.errors}" />

				<span class="text-danger" *ngIf="(FormReg.controls.Telefono.touched || submitted) 
                        && FormReg.controls.Telefono.errors?.required">
                    Dato requerido.
                </span>   
        <span class="text-danger" *ngIf="(FormReg.controls.Telefono.touched || submitted) 
                       && (FormReg.controls.Telefono.errors?.pattern)">
                    Dato numerico.
                </span>
			</div>
		</div>

		</fieldset>

		<!-- Botones Grabar, Cancelar/Volver' -->
		<div class="row justify-content-center">
			<button type="button" *ngIf="AccionABMC!=='C'" class="btn btn-primary" (click)="Grabar()">
            <span class="fas fa-check"></span> Grabar
        </button>
			&nbsp;
			<button type="button" class="btn btn-warning" (click)="Volver()">
            <span class="fas fa-undo"></span> {{AccionABMC=='C' ? 'Volver' : 'Cancelar'}}
        </button>
		</div>
	</form>

</div>